/* Contenedor principal de la creación de publicación */
.publicacion-content {
    background-color: #1b1b1b;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor de la tarjeta de creación de publicación */
.publicacion-container {
    text-align: center;
    padding: 30px;
    border-radius: 12px;
    animation: fadeIn 0.6s ease-in-out;
    background-color: #2c2c2c;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 90%;
}

/* Título del formulario */
.publicacion-title {
    font-size: 2rem;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Contenedor del formulario */
.publicacion-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilos de los inputs */
.input-item {
    background-color: #575757;
    border-radius: 8px;
    padding: 5px;
}

.input-item input {
    color: #ffffff;
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%; /* Ajusta el ancho para que no se desborde */
    padding: 10px;
    border-radius: 8px;
}

/* Botón de guardar */
.guardar-button {
    border-radius: 8px;
    font-weight: bold;
    padding: 10px;
    color: #ffffff;
    background-color: #3880ff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    width: 100%; /* Ocupa todo el ancho del contenedor */
}

.guardar-button:hover {
    background-color: #4a90e2;
}

/* Animación */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
